{% set label = element.label|trans(element.params.username is defined ? {'%username%' : element.params.username} : {}) %}
<a class="{{ element.class|default('') }}" href="{{ path(element.route, element.params) }}" aria-label="{{ 'aria.breadcrumb'|trans({'%label%': label}) }}">
    {{ label }}
</a>
