{% set label = 'breadcrumb.' in element.label ? element.label|trans : element.label %}
<a class="{{ element.class|default('') }}" aria-label="{{ 'aria.breadcrumb'|trans({'%label%': label}) }}">
    {{ label }}
</a>
