<ol class="breadcrumb">
    {% for element in breadcrumb %}
        <li class="breadcrumb-item {{ loop.last ? 'active' }}">
            {{ include('Breadcrumb/breadcrumb-'~ element.type ~'.html.twig', {'element' : element}) }}
        </li>
    {% endfor %}
</ol>
