<a class="{{ element.class|default('') }}" {% if element.route != '' %} href="{{ path(element.route|applyContext, element.params) }} {% endif %}" aria-label="{{ 'aria.breadcrumb'|trans({'%label%': element.label}) }}">
    {{ element.label }}
</a>
