{% if context == 'default' %}
    <span class="visibility" title="{{ getVisibilityReason(visibility|default(null), app.user.visibility) }}" >
        {% if visibility|default(null) == 'public' and app.user.visibility == 'public' %}
            <i class="fa fa-globe fa-fw"></i>
            <i class="fa fa-unlock-alt fa-fw fa-secondary"></i>
        {% elseif visibility|default(null) == 'private' or app.user.visibility == 'private' %}
            <i class="fa fa-lock fa-fw"></i>
        {% else %}
            <i class="fa fa-user fa-fw"></i>
            <i class="fa fa-unlock-alt fa-fw fa-secondary"></i>
        {% endif %}
    </span>
{% endif %}