<div class="breadcrumb">
    {% for element in breadcrumb %}
        <span class="breadcrumb-item {{ loop.last ? 'active' }}">
            {{ include('App/_partials/_breadcrumb/_'~ element.type ~'.html.twig', {'element' : element}) }}
        </span>
    {% endfor %}
</div>
