framework:
    secret: '%env(APP_SECRET)%'

    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax

    php_errors:
        log: true

    trusted_proxies: '%env(TRUSTED_PROXIES)%'
    trusted_headers: ['%env(TRUSTED_HEADERS)%']