###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.php_cs.cache

/docker/*

###> symfony/webpack-encore-bundle ###
/assets/node_modules/
/assets/npm-debug.log
/assets/yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/assets/stats.json

/public/build/*
/public/uploads/*
!/public/uploads/.gitkeep
/public/tmp/*
!public/tmp/.gitkeep

/.idea/*
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
