###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.php_cs.cache

/docker/volumes/
docker-compose.yml

###> symfony/webpack-encore-bundle ###
/assets/node_modules/
/assets/npm-debug.log
/assets/yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
###< symfony/phpunit-bridge ###

/assets/stats.json
/assets/js/translations/*

/public/build/*
/public/uploads/*
!/public/uploads/.gitkeep
/public/tmp/*
!public/tmp/.gitkeep

/.idea/*
###> lexik/jwt-authentication-bundle ###
/config/jwt/*
###< lexik/jwt-authentication-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
.phpunit.result.cache
output/
###< phpunit/phpunit ###
