<div id="{{ id }}" class="modal">
    <div class="modal-content">
        <p>{{ transKey|trans }}</p>
    </div>
    <div class="modal-footer row">
        <a href="{{ route }}" class="modal-action modal-close waves-effect btn col s2">Agree</a>
        <a class="modal-close waves-effect waves-light btn red darken-1 col s2">Disagree</a>
    </div>
</div>
