/* Lightest */
.progress,
.picker__today:focus, .picker__clear:focus, .picker__close:focus
{background-color: #d3bdff;}

.breadcrumb a {color: #d3bdff;}

/* Light */
.sidebar-wrapper .header-logo,
.btn:hover,
.btn-large:hover,
.picker__date-display
{background-color: #9f8dfb;}

.sidebar-wrapper .nav-sidebar li.separate-item
{border-top: 1px solid #9f8dfb;}

.sidebar-wrapper .nav-sidebar li.separate-item div
{border: 1px solid #9f8dfb;}

/* Medium */
.sidebar-wrapper,
.sidebar-wrapper .header-logo:hover,
.btn,
.btn-large,
.progress .determinate,
.picker__weekday-display,
.sidebar-wrapper .nav-sidebar li.separate-item div,
.toast,
.error .logo,
.pagination li.active,
.table-filter a.active,
nav,
.header-profile .down-background
{background-color: #6c5fc7;}

progress[value]::-webkit-progress-value{background-color:#6c5fc7;}
progress[value]::-moz-progress-bar{background-color:#6c5fc7;}
progress[value]::-ms-fill{background-color:#6c5fc7;}

.breadcrumb .last,
.secondary-content,
input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
.dropdown-content li>a,
.dropdown-content li>span,
.picker__day.picker__day--today, .picker__close, .picker__today,
a
{color: #6c5fc7;}

.content-header .filter-block #filter-by-name-input:focus,
[type="radio"].with-gap:checked + span:before,
.tabs-block .tab.current,
.pie-wrapper .pie .half-circle
{border-color: #6c5fc7;}

[type="radio"].with-gap:checked + span::after, [type="radio"]:checked + span::after
{background-color : #6c5fc7; border-color: #6c5fc7;}

[type="checkbox"]:checked + span:not(.lever)::before
{border-right: 2px solid #6c5fc7;  border-bottom: 2px solid #6c5fc7;}

input[type=range]::-moz-range-thumb
{background: #6c5fc7;}

input[type=range]::-webkit-slider-thumb
{background: #6c5fc7;}

input[type=range]::-ms-track
{background: #6c5fc7;}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]),
input.valid:not([type]), input.valid:focus:not([type]), input.valid[type="text"], input.valid[type="text"]:focus, input.valid[type="password"], input.valid[type="password"]:focus, input.valid[type="email"],
input.valid[type="email"]:focus, input.valid[type="url"], input.valid[type="url"]:focus, input.valid[type="time"], input.valid[type="time"]:focus, input.valid[type="date"], input.valid[type="date"]:focus, input.valid[type="datetime-local"],
input.valid[type="datetime-local"]:focus, input.valid[type="tel"], input.valid[type="tel"]:focus, input.valid[type="number"], input.valid[type="number"]:focus, input.valid[type="search"], input.valid[type="search"]:focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus
{
    border-bottom: 1px solid #6c5fc7;
    box-shadow: 0 1px 0 0 #6c5fc7;
}

.tabs-block li.tab.current
{
    border-bottom: 3px solid #6c5fc7;
}

/* Dark */
.sidebar-wrapper .nav-sidebar li a:hover, .sidebar-wrapper .nav-sidebar li.current a, .nav-bottom input:hover, .nav-bottom a:hover
{background-color: #393596;}

/* Complementary */
h5.header, h4.header, .button, .right-icon, .complementary-color
{color: #c79a5f;}

html.loading:before,
#offline-message
{background-color: #c79a5f;}
