/* Lightest */
.progress,
.picker__today:focus, .picker__clear:focus, .picker__close:focus
{background-color: #777;}

.breadcrumb a {color: silver;}

/* Light */
.sidebar-wrapper .header-logo,
.btn:hover,
.btn-large:hover,
.picker__date-display
{background-color: #5e5e5e;}

.sidebar-wrapper .nav-sidebar li.separate-item
{border-top: 1px solid #5e5e5e;}

.sidebar-wrapper .nav-sidebar li.separate-item div
{border: 1px solid #5e5e5e;}

/* Medium */
.sidebar-wrapper,
.sidebar-wrapper .header-logo:hover,
.btn,
.btn-large,
.progress .determinate,
.picker__weekday-display,
.sidebar-wrapper .nav-sidebar li.separate-item div,
.toast,
.error .logo,
.pagination li.active,
.table-filter a.active,
nav,
.header-profile .down-background
{background-color: #2e3136;}

progress[value]::-webkit-progress-value{background-color:#2e3136;}
progress[value]::-moz-progress-bar{background-color:#2e3136;}
progress[value]::-ms-fill{background-color:#2e3136;}

.breadcrumb .last,
.secondary-content,
input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
.dropdown-content li>a,
.dropdown-content li>span,
.picker__day.picker__day--today, .picker__close, .picker__today,
a
{color: #2e3136;}

.content-header .filter-block #filter-by-name-input:focus,
[type="radio"].with-gap:checked + span:before,
.tabs-block .tab.current,
.pie-wrapper .pie .half-circle
{border-color: #2e3136;}

[type="radio"].with-gap:checked + span::after, [type="radio"]:checked + span::after
{background-color : #2e3136; border-color: #2e3136;}

[type="checkbox"]:checked + span:not(.lever)::before
{border-right: 2px solid #2e3136;  border-bottom: 2px solid #2e3136;}

input[type=range]::-moz-range-thumb
{background: #2e3136;}

input[type=range]::-webkit-slider-thumb
{background: #2e3136;}

input[type=range]::-ms-track
{background: #2e3136;}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]),
input.valid:not([type]), input.valid:focus:not([type]), input.valid[type="text"], input.valid[type="text"]:focus, input.valid[type="password"], input.valid[type="password"]:focus, input.valid[type="email"],
input.valid[type="email"]:focus, input.valid[type="url"], input.valid[type="url"]:focus, input.valid[type="time"], input.valid[type="time"]:focus, input.valid[type="date"], input.valid[type="date"]:focus, input.valid[type="datetime-local"],
input.valid[type="datetime-local"]:focus, input.valid[type="tel"], input.valid[type="tel"]:focus, input.valid[type="number"], input.valid[type="number"]:focus, input.valid[type="search"], input.valid[type="search"]:focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus
{
    border-bottom: 1px solid #2e3136;
    box-shadow: 0 1px 0 0 #2e3136;
}

.tabs-block li.tab.current
{
    border-bottom: 2px solid #2e3136;
}

/* Dark */
.sidebar-wrapper .nav-sidebar li a:hover, .sidebar-wrapper .nav-sidebar li.current a, .nav-bottom input:hover, .nav-bottom a:hover
{background-color: #1e2125;}

/* Complementary */
h5.header, h4.header, .button, .right-icon, .complementary-color
{color: #f0f0f0;}

html.loading:before,
#offline-message
{background-color: #f0f0f0;}

/* Specific overrides */
.app, .modal, .modal .modal-footer { background-color: #36393e }
header, table.striped > tbody > tr:nth-child(2n+1) { background-color: #7d7f82; }

body, .btn-dark-grey, input, select, textarea, .setting-input label, h5.statistics-title, .burger-menu i { color: silver; }
[type="radio"].with-gap:checked + span::before, [type="radio"].with-gap:checked + span::after, .select-wrapper input.select-dropdown:focus { border-color: #5e5e5e; }
.select-wrapper .caret { fill: #5e5e5e; }
.button, a, .suggestion { color: #42a7ff; }

input:not([type]):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{ border-bottom: 1px solid #42a7ff; -webkit-box-shadow: 0 1px 0 0 #42a7ff; box-shadow: 0 1px 0 0 #42a7ff; }

input:not([type]):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
.item-details .data a
{ color: #42a7ff; }

.btn, .btn-large, .toast, html.loading:before
{ background-color: #42a7ff; }

.pie-wrapper .pie .half-circle
{ border-color: #42a7ff; }

progress[value]::-webkit-progress-value{background-color:#42a7ff;}
progress[value]::-moz-progress-bar{background-color:#42a7ff;}
progress[value]::-ms-fill{background-color:#42a7ff;}

.tabs-block li.tab.current {color: #f0f2f5}