/* Lightest */
.progress,
.picker__today:focus, .picker__clear:focus, .picker__close:focus,
.datepicker-day-button:focus
{background-color: #ffb0ad;}

.breadcrumb a {color: #ffb0ad;}

/* Light */
.sidebar-wrapper .header-logo,
.btn:hover,
.btn-large:hover,
.picker__date-display
{background-color: #ff7e7e;}

.sidebar-wrapper .nav-sidebar li.separate-item
{border-top: 1px solid #ff7e7e;}

.sidebar-wrapper .nav-sidebar li.separate-item div
{border: 1px solid #ff7e7e;}

/* Medium */
.sidebar-wrapper,
.sidebar-wrapper .header-logo:hover,
.btn,
.btn-large,
.progress .determinate,
.picker__weekday-display,
.sidebar-wrapper .nav-sidebar li.separate-item div,
.toast,
.error .logo,
.pagination li.active,
.table-filter a.active,
nav,
.header-profile .down-background,
.datepicker-date-display,
.datepicker-table td.is-selected
{background-color: #f44952;}

progress[value]::-webkit-progress-value{background-color:#f44952;}
progress[value]::-moz-progress-bar{background-color:#f44952;}
progress[value]::-ms-fill{background-color:#f44952;}

.breadcrumb .last,
.secondary-content,
input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
.dropdown-content li>a,
.dropdown-content li>span,
.picker__day.picker__day--today, .picker__close, .picker__today,
a, .datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done, .datepicker-table td.is-today:not(.is-selected)
{color: #f44952;}

.content-header .filter-block #filter-by-name-input:focus,
[type="radio"].with-gap:checked + span:before,
.tabs-block .tab.current,
.pie-wrapper .pie .half-circle
{border-color: #f44952;}

[type="radio"].with-gap:checked + span::after, [type="radio"]:checked + span::after
{background-color : #f44952; border-color: #f44952;}

[type="checkbox"]:checked + span:not(.lever)::before
{border-right: 2px solid #f44952;  border-bottom: 2px solid #f44952;}

input[type=range]::-moz-range-thumb
{background: #f44952;}

input[type=range]::-webkit-slider-thumb
{background: #f44952;}

input[type=range]::-ms-track
{background: #f44952;}

.modal-custom  .modal-header {
    background: #f44952;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]),
input.valid:not([type]), input.valid:focus:not([type]), input.valid[type="text"], input.valid[type="text"]:focus, input.valid[type="password"], input.valid[type="password"]:focus, input.valid[type="email"],
input.valid[type="email"]:focus, input.valid[type="url"], input.valid[type="url"]:focus, input.valid[type="time"], input.valid[type="time"]:focus, input.valid[type="date"], input.valid[type="date"]:focus, input.valid[type="datetime-local"],
input.valid[type="datetime-local"]:focus, input.valid[type="tel"], input.valid[type="tel"]:focus, input.valid[type="number"], input.valid[type="number"]:focus, input.valid[type="search"], input.valid[type="search"]:focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus
{
    border-bottom: 1px solid #f44952;
    box-shadow: 0 1px 0 0 #f44952;
}

.tabs-block li.tab.current
{
    border-bottom: 3px solid #f44952;
}

/* Dark */
.sidebar-wrapper .nav-sidebar li a:hover, .sidebar-wrapper .nav-sidebar li.current a, .nav-bottom input:hover, .nav-bottom a:hover
{background-color: #bb0029;}

/* Complementary */
h6.header, h5.header, h4.header, .button, .right-icon, .complementary-color
{color: #376891;}

html.loading:before,
#offline-message
{background-color: #376891;}
