{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_scrapper_index', 'trans': 'menu.scrappers'}], null, 'breadcrumb.add_scrapper') %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'title.add_scrapper'|trans }}</h1>
    </div>

    <div class="content-block">
        {{ include('App/Scrapper/_form.html.twig') }}
    </div>
{% endblock %}
