<a href="#modal-delete"
   class="modal-trigger button"
   title="{{ 'tooltip.delete'|trans }}"
   data-path="{{ path }}"
   data-message="{{ message|trans }}"
>
    <i class="fa fa-trash fa-fw"></i>
</a>