<div id="collection-items" class="grid-container-items">
    {% for item in items|naturalSorting %}
        <div data-filter-target="element">
            <div class="collection-item element valign-wrapper" data-title="{{ item.name }}">
                <a href="{{ path('app_tag_item_show'|applyContext, {'tagId': tag.id, 'itemId': item.id}) }}">
                    <img src="{{ asset(item.imageSmallThumbnail|default('build/images/default.png')) }}" loading="lazy">
                </a>
            </div>
            {% if app.user.displayItemsNameInGridView|default(false) == true %}
                <span class="item-name">{{ item.name }}</span>
            {% endif %}
        </div>
    {% endfor %}
</div>