<div class="row field">
    <div class="col s1 handle">
        <i class="fa fa-arrows-v fa-fw"></i>
    </div>
    <div class="input-field col s4">
        {{ form_row(form.name, {'label':'label.name'}) }}
    </div>
    <div class="input-field col s4">
        {{ form_row(form.type, {'label':'label.type'}) }}
    </div>
    <div class="input-field">
        {{ form_row(form.position, {'attr': {'class' : 'position'}}) }}
    </div>
    <div class="col s1">
        <button type="button" name="remove" class="btn waves-effect waves-light red removeDatum"><i class="fa fa-remove fa-fw"></i></button>
    </div>
</div>
