.flag-ad::after { content: url("../img/flags/ad.png");}
.flag-ae::after { content: url("../img/flags/ae.png");}
.flag-af::after { content: url("../img/flags/af.png");}
.flag-ag::after { content: url("../img/flags/ag.png");}
.flag-ai::after { content: url("../img/flags/ai.png");}
.flag-al::after { content: url("../img/flags/al.png");}
.flag-am::after { content: url("../img/flags/am.png");}
.flag-an::after { content: url("../img/flags/an.png");}
.flag-ao::after { content: url("../img/flags/ao.png");}
.flag-aq::after { content: url("../img/flags/aq.png");}
.flag-ar::after { content: url("../img/flags/ar.png");}
.flag-as::after { content: url("../img/flags/as.png");}
.flag-at::after { content: url("../img/flags/at.png");}
.flag-au::after { content: url("../img/flags/au.png");}
.flag-aw::after { content: url("../img/flags/aw.png");}
.flag-ax::after { content: url("../img/flags/ax.png");}
.flag-az::after { content: url("../img/flags/az.png");}
.flag-ba::after { content: url("../img/flags/ba.png");}
.flag-bb::after { content: url("../img/flags/bb.png");}
.flag-bd::after { content: url("../img/flags/bd.png");}
.flag-be::after { content: url("../img/flags/be.png");}
.flag-bf::after { content: url("../img/flags/bf.png");}
.flag-bg::after { content: url("../img/flags/bg.png");}
.flag-bh::after { content: url("../img/flags/bh.png");}
.flag-bi::after { content: url("../img/flags/bi.png");}
.flag-bj::after { content: url("../img/flags/bj.png");}
.flag-bl::after { content: url("../img/flags/bl.png");}
.flag-bm::after { content: url("../img/flags/bm.png");}
.flag-bn::after { content: url("../img/flags/bn.png");}
.flag-bo::after { content: url("../img/flags/bo.png");}
.flag-bq::after { content: url("../img/flags/bq.png");}
.flag-br::after { content: url("../img/flags/br.png");}
.flag-bs::after { content: url("../img/flags/bs.png");}
.flag-bt::after { content: url("../img/flags/bt.png");}
.flag-bv::after { content: url("../img/flags/bv.png");}
.flag-bw::after { content: url("../img/flags/bw.png");}
.flag-by::after { content: url("../img/flags/by.png");}
.flag-bz::after { content: url("../img/flags/bz.png");}
.flag-ca::after { content: url("../img/flags/ca.png");}
.flag-cc::after { content: url("../img/flags/cc.png");}
.flag-cd::after { content: url("../img/flags/cd.png");}
.flag-cf::after { content: url("../img/flags/cf.png");}
.flag-cg::after { content: url("../img/flags/cg.png");}
.flag-ch::after { content: url("../img/flags/ch.png");}
.flag-ci::after { content: url("../img/flags/ci.png");}
.flag-ck::after { content: url("../img/flags/ck.png");}
.flag-cl::after { content: url("../img/flags/cl.png");}
.flag-cm::after { content: url("../img/flags/cm.png");}
.flag-cn::after { content: url("../img/flags/cn.png");}
.flag-co::after { content: url("../img/flags/co.png");}
.flag-cr::after { content: url("../img/flags/cr.png");}
.flag-cu::after { content: url("../img/flags/cu.png");}
.flag-cv::after { content: url("../img/flags/cv.png");}
.flag-cw::after { content: url("../img/flags/cw.png");}
.flag-cx::after { content: url("../img/flags/cx.png");}
.flag-cy::after { content: url("../img/flags/cy.png");}
.flag-cz::after { content: url("../img/flags/cz.png");}
.flag-de::after { content: url("../img/flags/de.png");}
.flag-dj::after { content: url("../img/flags/dj.png");}
.flag-dk::after { content: url("../img/flags/dk.png");}
.flag-dm::after { content: url("../img/flags/dm.png");}
.flag-do::after { content: url("../img/flags/do.png");}
.flag-dz::after { content: url("../img/flags/dz.png");}
.flag-ec::after { content: url("../img/flags/ec.png");}
.flag-ee::after { content: url("../img/flags/ee.png");}
.flag-eg::after { content: url("../img/flags/eg.png");}
.flag-eh::after { content: url("../img/flags/eh.png");}
.flag-er::after { content: url("../img/flags/er.png");}
.flag-es::after { content: url("../img/flags/es.png");}
.flag-et::after { content: url("../img/flags/et.png");}
.flag-eu::after { content: url("../img/flags/eu.png");}
.flag-fi::after { content: url("../img/flags/fi.png");}
.flag-fj::after { content: url("../img/flags/fj.png");}
.flag-fk::after { content: url("../img/flags/fk.png");}
.flag-fm::after { content: url("../img/flags/fm.png");}
.flag-fo::after { content: url("../img/flags/fo.png");}
.flag-fr::after { content: url("../img/flags/fr.png");}
.flag-ga::after { content: url("../img/flags/ga.png");}
.flag-gb-eng::after { content: url("../img/flags/gb-eng.png");}
.flag-gb-nir::after { content: url("../img/flags/gb-nir.png");}
.flag-gb::after { content: url("../img/flags/gb.png");}
.flag-gb-sct::after { content: url("../img/flags/gb-sct.png");}
.flag-gb-wls::after { content: url("../img/flags/gb-wls.png");}
.flag-gd::after { content: url("../img/flags/gd.png");}
.flag-ge::after { content: url("../img/flags/ge.png");}
.flag-gf::after { content: url("../img/flags/gf.png");}
.flag-gg::after { content: url("../img/flags/gg.png");}
.flag-gh::after { content: url("../img/flags/gh.png");}
.flag-gi::after { content: url("../img/flags/gi.png");}
.flag-gl::after { content: url("../img/flags/gl.png");}
.flag-gm::after { content: url("../img/flags/gm.png");}
.flag-gn::after { content: url("../img/flags/gn.png");}
.flag-gp::after { content: url("../img/flags/gp.png");}
.flag-gq::after { content: url("../img/flags/gq.png");}
.flag-gr::after { content: url("../img/flags/gr.png");}
.flag-gs::after { content: url("../img/flags/gs.png");}
.flag-gt::after { content: url("../img/flags/gt.png");}
.flag-gu::after { content: url("../img/flags/gu.png");}
.flag-gw::after { content: url("../img/flags/gw.png");}
.flag-gy::after { content: url("../img/flags/gy.png");}
.flag-hk::after { content: url("../img/flags/hk.png");}
.flag-hm::after { content: url("../img/flags/hm.png");}
.flag-hn::after { content: url("../img/flags/hn.png");}
.flag-hr::after { content: url("../img/flags/hr.png");}
.flag-ht::after { content: url("../img/flags/ht.png");}
.flag-hu::after { content: url("../img/flags/hu.png");}
.flag-id::after { content: url("../img/flags/id.png");}
.flag-ie::after { content: url("../img/flags/ie.png");}
.flag-il::after { content: url("../img/flags/il.png");}
.flag-im::after { content: url("../img/flags/im.png");}
.flag-in::after { content: url("../img/flags/in.png");}
.flag-io::after { content: url("../img/flags/io.png");}
.flag-iq::after { content: url("../img/flags/iq.png");}
.flag-ir::after { content: url("../img/flags/ir.png");}
.flag-is::after { content: url("../img/flags/is.png");}
.flag-it::after { content: url("../img/flags/it.png");}
.flag-je::after { content: url("../img/flags/je.png");}
.flag-jm::after { content: url("../img/flags/jm.png");}
.flag-jo::after { content: url("../img/flags/jo.png");}
.flag-jp::after { content: url("../img/flags/jp.png");}
.flag-ke::after { content: url("../img/flags/ke.png");}
.flag-kg::after { content: url("../img/flags/kg.png");}
.flag-kh::after { content: url("../img/flags/kh.png");}
.flag-ki::after { content: url("../img/flags/ki.png");}
.flag-km::after { content: url("../img/flags/km.png");}
.flag-kn::after { content: url("../img/flags/kn.png");}
.flag-kp::after { content: url("../img/flags/kp.png");}
.flag-kr::after { content: url("../img/flags/kr.png");}
.flag-kw::after { content: url("../img/flags/kw.png");}
.flag-ky::after { content: url("../img/flags/ky.png");}
.flag-kz::after { content: url("../img/flags/kz.png");}
.flag-la::after { content: url("../img/flags/la.png");}
.flag-lb::after { content: url("../img/flags/lb.png");}
.flag-lc::after { content: url("../img/flags/lc.png");}
.flag-li::after { content: url("../img/flags/li.png");}
.flag-lk::after { content: url("../img/flags/lk.png");}
.flag-lr::after { content: url("../img/flags/lr.png");}
.flag-ls::after { content: url("../img/flags/ls.png");}
.flag-lt::after { content: url("../img/flags/lt.png");}
.flag-lu::after { content: url("../img/flags/lu.png");}
.flag-lv::after { content: url("../img/flags/lv.png");}
.flag-ly::after { content: url("../img/flags/ly.png");}
.flag-ma::after { content: url("../img/flags/ma.png");}
.flag-mc::after { content: url("../img/flags/mc.png");}
.flag-md::after { content: url("../img/flags/md.png");}
.flag-me::after { content: url("../img/flags/me.png");}
.flag-mf::after { content: url("../img/flags/mf.png");}
.flag-mg::after { content: url("../img/flags/mg.png");}
.flag-mh::after { content: url("../img/flags/mh.png");}
.flag-mk::after { content: url("../img/flags/mk.png");}
.flag-ml::after { content: url("../img/flags/ml.png");}
.flag-mm::after { content: url("../img/flags/mm.png");}
.flag-mn::after { content: url("../img/flags/mn.png");}
.flag-mo::after { content: url("../img/flags/mo.png");}
.flag-mp::after { content: url("../img/flags/mp.png");}
.flag-mq::after { content: url("../img/flags/mq.png");}
.flag-mr::after { content: url("../img/flags/mr.png");}
.flag-ms::after { content: url("../img/flags/ms.png");}
.flag-mt::after { content: url("../img/flags/mt.png");}
.flag-mu::after { content: url("../img/flags/mu.png");}
.flag-mv::after { content: url("../img/flags/mv.png");}
.flag-mw::after { content: url("../img/flags/mw.png");}
.flag-mx::after { content: url("../img/flags/mx.png");}
.flag-my::after { content: url("../img/flags/my.png");}
.flag-mz::after { content: url("../img/flags/mz.png");}
.flag-na::after { content: url("../img/flags/na.png");}
.flag-nc::after { content: url("../img/flags/nc.png");}
.flag-ne::after { content: url("../img/flags/ne.png");}
.flag-nf::after { content: url("../img/flags/nf.png");}
.flag-ng::after { content: url("../img/flags/ng.png");}
.flag-ni::after { content: url("../img/flags/ni.png");}
.flag-nl::after { content: url("../img/flags/nl.png");}
.flag-no::after { content: url("../img/flags/no.png");}
.flag-np::after { content: url("../img/flags/np.png");}
.flag-nr::after { content: url("../img/flags/nr.png");}
.flag-nu::after { content: url("../img/flags/nu.png");}
.flag-nz::after { content: url("../img/flags/nz.png");}
.flag-om::after { content: url("../img/flags/om.png");}
.flag-pa::after { content: url("../img/flags/pa.png");}
.flag-pe::after { content: url("../img/flags/pe.png");}
.flag-pf::after { content: url("../img/flags/pf.png");}
.flag-pg::after { content: url("../img/flags/pg.png");}
.flag-ph::after { content: url("../img/flags/ph.png");}
.flag-pk::after { content: url("../img/flags/pk.png");}
.flag-pl::after { content: url("../img/flags/pl.png");}
.flag-pm::after { content: url("../img/flags/pm.png");}
.flag-pn::after { content: url("../img/flags/pn.png");}
.flag-pr::after { content: url("../img/flags/pr.png");}
.flag-ps::after { content: url("../img/flags/ps.png");}
.flag-pt::after { content: url("../img/flags/pt.png");}
.flag-pw::after { content: url("../img/flags/pw.png");}
.flag-py::after { content: url("../img/flags/py.png");}
.flag-qa::after { content: url("../img/flags/qa.png");}
.flag-re::after { content: url("../img/flags/re.png");}
.flag-ro::after { content: url("../img/flags/ro.png");}
.flag-rs::after { content: url("../img/flags/rs.png");}
.flag-ru::after { content: url("../img/flags/ru.png");}
.flag-rw::after { content: url("../img/flags/rw.png");}
.flag-sa::after { content: url("../img/flags/sa.png");}
.flag-sb::after { content: url("../img/flags/sb.png");}
.flag-sc::after { content: url("../img/flags/sc.png");}
.flag-sd::after { content: url("../img/flags/sd.png");}
.flag-se::after { content: url("../img/flags/se.png");}
.flag-sg::after { content: url("../img/flags/sg.png");}
.flag-sh::after { content: url("../img/flags/sh.png");}
.flag-si::after { content: url("../img/flags/si.png");}
.flag-sj::after { content: url("../img/flags/sj.png");}
.flag-sk::after { content: url("../img/flags/sk.png");}
.flag-sl::after { content: url("../img/flags/sl.png");}
.flag-sm::after { content: url("../img/flags/sm.png");}
.flag-sn::after { content: url("../img/flags/sn.png");}
.flag-so::after { content: url("../img/flags/so.png");}
.flag-sr::after { content: url("../img/flags/sr.png");}
.flag-ss::after { content: url("../img/flags/ss.png");}
.flag-st::after { content: url("../img/flags/st.png");}
.flag-sv::after { content: url("../img/flags/sv.png");}
.flag-sx::after { content: url("../img/flags/sx.png");}
.flag-sy::after { content: url("../img/flags/sy.png");}
.flag-sz::after { content: url("../img/flags/sz.png");}
.flag-tc::after { content: url("../img/flags/tc.png");}
.flag-td::after { content: url("../img/flags/td.png");}
.flag-tf::after { content: url("../img/flags/tf.png");}
.flag-tg::after { content: url("../img/flags/tg.png");}
.flag-th::after { content: url("../img/flags/th.png");}
.flag-tj::after { content: url("../img/flags/tj.png");}
.flag-tk::after { content: url("../img/flags/tk.png");}
.flag-tl::after { content: url("../img/flags/tl.png");}
.flag-tm::after { content: url("../img/flags/tm.png");}
.flag-tn::after { content: url("../img/flags/tn.png");}
.flag-to::after { content: url("../img/flags/to.png");}
.flag-tr::after { content: url("../img/flags/tr.png");}
.flag-tt::after { content: url("../img/flags/tt.png");}
.flag-tv::after { content: url("../img/flags/tv.png");}
.flag-tw::after { content: url("../img/flags/tw.png");}
.flag-tz::after { content: url("../img/flags/tz.png");}
.flag-ua::after { content: url("../img/flags/ua.png");}
.flag-ug::after { content: url("../img/flags/ug.png");}
.flag-um::after { content: url("../img/flags/um.png");}
.flag-us::after { content: url("../img/flags/us.png");}
.flag-uy::after { content: url("../img/flags/uy.png");}
.flag-uz::after { content: url("../img/flags/uz.png");}
.flag-va::after { content: url("../img/flags/va.png");}
.flag-vc::after { content: url("../img/flags/vc.png");}
.flag-ve::after { content: url("../img/flags/ve.png");}
.flag-vg::after { content: url("../img/flags/vg.png");}
.flag-vi::after { content: url("../img/flags/vi.png");}
.flag-vn::after { content: url("../img/flags/vn.png");}
.flag-vu::after { content: url("../img/flags/vu.png");}
.flag-wf::after { content: url("../img/flags/wf.png");}
.flag-ws::after { content: url("../img/flags/ws.png");}
.flag-xk::after { content: url("../img/flags/xk.png");}
.flag-ye::after { content: url("../img/flags/ye.png");}
.flag-yt::after { content: url("../img/flags/yt.png");}
.flag-za::after { content: url("../img/flags/za.png");}
.flag-zm::after { content: url("../img/flags/zm.png");}
.flag-zw::after { content: url("../img/flags/zw.png");}

/* Custom */
.flag-en::after { content: url("../img/flags/gb.png");}