<div id="additionnalFields">
    <div id="data" class="data-holder block-element hidden">
        <div class="row">
            <h6 class="header col s12">{{ 'title.data'|trans }}</h6>
        </div>

        {% for key, datum in data|filter(datum => datum.type in ([constant('App\\Enum\\DatumTypeEnum::TYPE_TEXT'), constant('App\\Enum\\DatumTypeEnum::TYPE_COUNTRY')])) %}
            {{ include('App/Datum/_datum.html.twig', {datum: datum, iteration: key, type: datum.type, entity: 'item'}) }}
        {% endfor %}
    </div>

    <div id="item-images" class="data-holder block-element hidden">
        <div class="row">
            <h6 class="header col s12">{{ 'title.item_images'|trans }}</h6>
        </div>

        {% for key, datum in data|filter(datum => datum.type in ([constant('App\\Enum\\DatumTypeEnum::TYPE_IMAGE'), constant('App\\Enum\\DatumTypeEnum::TYPE_SIGN')])) %}
            {{ include('App/Datum/_datum.html.twig', {datum: datum, iteration: key, type: datum.type, entity: 'item'}) }}
        {% endfor %}
    </div>
</div>