<div class="row dataPath" data-scraper-data-path-target="dataPath">
    <div class="s1 handle icon-holder">
        <i class="fa fa-arrows-v fa-fw"></i>
    </div>

    <div class="s3">
        {{ form_row(form.name, {'label':'label.name'}) }}
    </div>
    <div class="s2">
        {{ form_row(form.type, {'label':'label.type', 'attr': {
            'data-controller': 'select--default'
        }}) }}
    </div>
    <div class="s5">
        {{ form_row(form.path, {'label':'label.path'}) }}
    </div>

    {{ form_row(form.position, {'attr': {'class' : 'position'}}) }}

    <div class="s1 icon-holder">
        <i class="fa fa-remove fa-fw removeDatum" data-action="click->scraper-data-path#remove"></i>
    </div>
</div>
