<div class="tabs-block">
    <ul class="nav nav-pills">
        <li class="tab {{ current == "item" ? 'current' }}">
            <a href="{{ path('app_scraper_index') }}">
                <span>{{ 'tab.item_scrappers'|trans }}</span>
            </a>
        </li>
    </ul>
</div>
