:root{
    --surface-color: #2a2a2a;
    --background-color: #2a2a2a;
    --background-color-dark: #222222;
    --background-color-light: #5e5e5e;
    --font-color-light: #7d7f82;
    --font-color-medium: #cccccc;
    --font-color-main: #cccccc;
    --primary-color: #009688;
}

.avatar.circle.color-avatar, .user-avatar.circle {
    filter: brightness(80%);
}

/** --primary-color **/
.btn-holder .button, .btn-holder .button i, .dropdown-menu i, .navigation-block i, .table-actions i,
.breadcrumb .last, a, .header, .autocomplete-content li .highlight, .autocomplete-result a b, .breadcrumb-item.active a {
    color: var(--primary-color);
}

.sidebar-element.current a, .sidebar-element a:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: var(--primary-color);
}

.pie-wrapper .pie .half-circle, .tabs-block li.tab.current {
    border-color: var(--primary-color);;
}

/** --background-color **/
body, .main, .header-logo, .nav-wrapper #search_term, .sidebar-element.separate-item div,
.box .content, .modal, .input-field input, .input-field textarea, .autocomplete-content, thead th,
.select2-container--default .select2-selection--single, .select2-dropdown, .select2-search__field {
    background-color: var(--background-color);
}

i, body, .sidebar-element span, .header-logo a, .toast {
    color: var(--font-color-medium);
}

input {
    caret-color: var(--font-color-medium);
}

/** --font-color-light **/
.sidebar-element.separate-item, .sidebar-element.separate-item div, .autocomplete-results li, .select2, .input-field.outlined input, .input-field.outlined textarea {
    border-color: var(--font-color-light);
}

.collections .collection-element .collection-stats, footer, .image-label, .datum-row span.country-name,
.breadcrumb-item a, .input-field > label {
    color: var(--font-color-light);
}

/** --font-color-main **/
.autocomplete-results li span, .autocomplete-result a,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.tabs-block li.tab, .tabs-block li.tab a, .autocomplete-results li span, .unauthorized .header
{
    color: var(--font-color-main);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--font-color-main) transparent transparent;
}


/** --background-color-dark **/
header, .sidebar-wrapper, .content-wrapper .btn-holder input[type="text"], .sidebar-element.separate-item div,
table.striped > tbody > tr:nth-child(2n+1) {
    background-color: var(--background-color-dark);
}

/** --background-color-light **/
.autocomplete-results li {
    background-color: var(--background-color-light);
}