:root{
    --surface-color: #FFFFFF;
    --background-color: #FFFFFF;
    --font-color-lighter: #F0F2F5;
    --font-color-light: #9e9e9e;
    --font-color-medium: #444;
    --font-color-main: rgba(0,0,0,.87);
    --primary-color: #009688;
    --secondary-color: #e74646;
}

/** --surface-color **/
.visibility .fa-secondary, .select-icon.fa-secondary {
    text-shadow: -1px 0 var(--surface-color), 0 1px var(--surface-color), 1px 0 var(--surface-color), 0 -1px var(--surface-color);
}

/** --primary-color **/
a, .breadcrumb-item.active a, .profile-menu i, .autocomplete-content li .highlight, .autocomplete-result a b {
    color: var(--primary-color);
}

/** --secondary-color **/
.btn-holder .button, .btn-holder .button i, .locales-dropdown i, .navigation-block i, .table-actions i,
.header {
    color: var(--secondary-color);
}

/** --font-color-light **/
.autocomplete-results li span, .collections .collection-element .collection-stats,
.input-field > label, .rating-form > label, .tab:not(.current), .tab:not(.current) a {
    color: var(--font-color-light);
}

/** --font-color-lighter **/
i, .sidebar-element span, .header-logo a {
    color: var(--font-color-lighter);
}

/** --font-color-main **/
.visibility i, .datum i, .related-item i, .autocomplete-result a,  .tab.current a {
    color: var(--font-color-main);
}

/** --font-color-medium **/
.select2-container--default .select2-selection--single .select2-selection__rendered, .select2 i, .select2-results__option i {
    color: var(--font-color-medium);
}
