.modal { z-index: 1500!important;}
.modal-custom .modal-footer .btn, .btn-holder .btn{margin: 10px 5px;}
.modal-custom { max-width: 750px; }
.modal-custom img { width: 100%; }
.modal-custom  .modal-header {
    padding-top: 11px;
    padding-bottom: 11px;
    background: #009688;
    color: #fff;
    font-size: 20px;
}
.modal-custom .modal-content { padding: 0; }
.modal-custom .modal-body { padding: 25px; }
.modal-custom .modal-title { padding: 0 25px;}
.modal-custom .modal-close {margin-top: 4px; margin-right: 14px;}