<span data-value="{{ datum.value|join|default('') }}"></span>
{% set values = datum.getOrderedListChoices %}

{% if values|length > 1 %}
    <ul class="datum-list">
        {% for value in values %}
            <li>{{ value }}</li>
        {% endfor %}
{% else %}
    {{ values|first }}
{% endif %}