
<span data-value="{{ datum.value }}"></span>

<span class="rating-display">
    {% for i in 1 .. 10 %}
        {% if loop.index % 2 != 0 %}
            <span>
        {% endif %}

        <label class="{{ loop.index % 2 == 0 ? 'fa-star' : 'fa-star-half' }} {{ i <= datum.value ? 'colored' }}"></label>

        {% if loop.index % 2 == 0 %}
            </span>
        {% endif %}
    {% endfor %}
</span>