{% macro lazyImage(src, aria = null, tooltip = null, classes = "") %}
<div class="image-wrapper placeholder {{ classes }}">
    <img data-src="{{ preload(asset(src), { as: 'image' }) }}"
         {% if tooltip is not null %} class="tooltipped" data-position="bottom" data-tooltip="{{ tooltip }}" {% endif %}
         {% if aria is not null %} aria-label="{{ aria }}" {% endif %}
    >
</div>
{% endmacro %}
