<div class="input-field file-field col s5">
    <div class="btn">
        <i class="fa fa-upload fa-fw"></i>
    </div>
    <input type="file" class="file-path validate" id="data_{{ iteration }}_fileFile" name="{{ entity }}[data][{{ iteration }}][fileFile]">
    <div class="datum-original-filename">
        {% if datum is defined %}{{ datum.originalFilename }}{% endif %}
    </div>
</div>

