<div class="input-field file-data outlined s9 m5 datum-input-field" data-controller="file-input">
    <div class="btn" data-action="click->file-input#openUpload">
        <i class="fa fa-upload fa-fw"></i>
    </div>
    <input data-action="change->file-input#displayFilename" type="file" id="data_{{ iteration }}_fileFile"
           name="{{ entity }}[data][{{ iteration }}][fileFile]"
           data-file-input-target="input"
           data-additional-data-target="value"
    >
    <div data-file-input-target="filename" class="datum-original-filename">
        {% if datum is defined %}{{ datum.originalFilename }}{% endif %}
    </div>
</div>

