<div class="input-field file-field col s5">
    <div class="btn">
        <span>File</span>
        <input type="file" class="file-path validate" id="data_{{ iteration }}_fileFile" name="{{ entity }}[data][{{ iteration }}][fileFile]">
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
    </div>
</div>