{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="content-block">
            <img src="{{ asset('build/images/error.png') }}">
            <h3>{% block error %}{% endblock %}</h3>
            <a href="{{ path('app_homepage') }}">{{ 'message.return_to_homepage'|trans }}</a>
        </div>
    </div>
{% endblock %}
