{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_album_index', 'trans': 'menu.albums'}], null, 'breadcrumb.edit_album') %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'title.edit_album'|trans({'%title%': album.title}) }}</h1>
    </div>

    <div class="content-block">
        {{ include('App/Album/_form.html.twig') }}
    </div>
{% endblock %}
