{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_wishlist_index', 'trans': 'menu.wishlists'}], null, 'breadcrumb.add_wishlist') %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'title.new_wishlist'|trans() }}</h1>
    </div>

    <div class="content-block">
        {{ include('App/Wishlist/_form.html.twig') }}
    </div>
{% endblock %}
