name: Koillection CI
on:
  workflow_dispatch:
  push:
  release:

jobs:
  security_checker:
    name: Security checker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v3
        id: cache-db
        with:
          path: ~/.symfony/cache
          key: db
      - uses: symfonycorp/security-checker-action@v5

  doctrine_schema_validator:
    name: Doctrine schema validator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: ctype, fileinfo, gd, iconv, intl, json
      - uses: actions/cache@v3
        id: cache-composer
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-
      - run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - run: bin/console doctrine:schema:validate --skip-sync

  phpunit_mysql:
    name: PHPUnit tests with Mysql ${{ matrix.mysql }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mysql: [ 8 ]
    services:
      mysql:
        image: mysql:${{ matrix.mysql }}
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5
    steps:
      - uses: actions/checkout@v4

      # Setup php env and install dependencies
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: ctype, fileinfo, gd, iconv, intl, json
      - uses: actions/cache@v3
        id: cache-composer
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-
      - run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      # Setup environment variables
      - run: sed -i "s|APP_ENV=.*|APP_ENV=test|i" ".env"
      - run: sed -i "s|DB_DRIVER=.*|DB_DRIVER=pdo_mysql|i" ".env"
      - run: sed -i "s|DB_NAME=.*|DB_NAME=koillection|i" ".env"
      - run: sed -i "s|DB_HOST=.*|DB_HOST=127.0.0.1|i" ".env"
      - run: sed -i "s|DB_PORT=.*|DB_PORT=3306|i" ".env"
      - run: sed -i "s|DB_USER=.*|DB_USER=root|i" ".env"
      - run: sed -i "s|DB_PASSWORD=.*|DB_PASSWORD=root|i" ".env"
      - run: sed -i "s|DB_VERSION=.*|DB_VERSION=${{ matrix.mysql }}|i" ".env"

      # Setup yarn
      - uses: actions/setup-node@v4
        with:
          node-version: 21
      - uses: actions/cache@v3
        id: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: bin/console app:translations:dump
      - run: (cd assets && yarn install)
      - run: (cd assets && yarn dev)

      # Setup test environment
      - run: bin/console lexik:jwt:generate-keypair --env=test
      - run: bin/console doctrine:database:create --env=test
      - run: bin/console doctrine:migration:migrate --no-interaction --allow-no-migration --env=test

      ## Run tests
      - run: php ./vendor/bin/paratest --runner=WrapperRunner

  phpunit_mariadb:
    name: PHPUnit tests with MariaDB ${{ matrix.mariadb }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mariadb: [ 10 ]
    services:
      mysql:
        image: mariadb:${{ matrix.mariadb }}
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5
    steps:
      -   uses: actions/checkout@v4

      # Setup php env and install dependencies
      -   uses: shivammathur/setup-php@v2
          with:
            php-version: 8.2
            extensions: ctype, fileinfo, gd, iconv, intl, json
      -   uses: actions/cache@v3
          id: cache-composer
          with:
            path: vendor
            key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
            restore-keys: |
              ${{ runner.os }}-php-
      -   run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      # Setup environment variables
      -   run: sed -i "s|APP_ENV=.*|APP_ENV=test|i" ".env"
      -   run: sed -i "s|DB_DRIVER=.*|DB_DRIVER=pdo_mysql|i" ".env"
      -   run: sed -i "s|DB_NAME=.*|DB_NAME=koillection|i" ".env"
      -   run: sed -i "s|DB_HOST=.*|DB_HOST=127.0.0.1|i" ".env"
      -   run: sed -i "s|DB_PORT=.*|DB_PORT=3306|i" ".env"
      -   run: sed -i "s|DB_USER=.*|DB_USER=root|i" ".env"
      -   run: sed -i "s|DB_PASSWORD=.*|DB_PASSWORD=root|i" ".env"
      -   run: sed -i "s|DB_VERSION=.*|DB_VERSION=${{ matrix.mariadb }}|i" ".env"

      # Setup yarn
      -   uses: actions/setup-node@v4
          with:
            node-version: 21
      -   uses: actions/cache@v3
          id: cache-node-modules
          with:
            path: ~/.npm
            key: ${{ runner.os }}-yarn-${{ hashFiles('**/composer.lock') }}
            restore-keys: |
              ${{ runner.os }}-yarn-
      -   run: bin/console app:translations:dump
      -   run: (cd assets && yarn install)
      -   run: (cd assets && yarn dev)

      # Setup test environment
      -   run: bin/console lexik:jwt:generate-keypair --env=test
      -   run: bin/console doctrine:database:create --env=test
      -   run: bin/console doctrine:migration:migrate --no-interaction --allow-no-migration --env=test

      ## Run tests
      -   run: php ./vendor/bin/paratest --runner=WrapperRunner

  phpunit_postgres:
    name: PHPUnit tests with Postgres ${{ matrix.postgres }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        postgres: [ 10, 11, 12, 13, 14, 15, 16 ]
    services:
      postgres:
        image: postgres:${{ matrix.postgres }}
        env:
          POSTGRES_PASSWORD: root
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval=10s --health-timeout=5s --health-retries=5
    steps:
      - uses: actions/checkout@v4

      # Setup php env and install dependencies
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: ctype, fileinfo, gd, iconv, intl, json
      - uses: actions/cache@v3
        id: cache-composer
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-
      - run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      # Setup environment variables
      - run: sed -i "s|APP_ENV=.*|APP_ENV=test|i" ".env"
      - run: sed -i "s|DB_DRIVER=.*|DB_DRIVER=pdo_pgsql|i" ".env"
      - run: sed -i "s|DB_NAME=.*|DB_NAME=koillection|i" ".env"
      - run: sed -i "s|DB_HOST=.*|DB_HOST=127.0.0.1|i" ".env"
      - run: sed -i "s|DB_PORT=.*|DB_PORT=5432|i" ".env"
      - run: sed -i "s|DB_USER=.*|DB_USER=postgres|i" ".env"
      - run: sed -i "s|DB_PASSWORD=.*|DB_PASSWORD=root|i" ".env"
      - run: sed -i "s|DB_VERSION=.*|DB_VERSION=${{ matrix.postgres }}|i" ".env"
      # Setup yarn
      - uses: actions/setup-node@v4
        with:
          node-version: 21
      - uses: actions/cache@v3
        id: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: bin/console app:translations:dump
      - run: (cd assets && yarn install)
      - run: (cd assets && yarn dev)

      # Setup test environment
      - run: bin/console lexik:jwt:generate-keypair --env=test
      - run: bin/console doctrine:database:create --env=test
      - run: bin/console doctrine:migration:migrate --no-interaction --allow-no-migration --env=test

      ## Run tests
      - run: php ./vendor/bin/paratest --runner=WrapperRunner
